.play-page {
    padding-left: 5em;
    padding-top: 10px;
    align-content: center;
}

.play-page__panel-buttons {
    width: 150px;
    height: 60px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 20px;
}

.panel__button-back {
    display: inline-block;
}

.panel__button-back_img {
    padding-left: 1.2em;
    width: 40px;
    height: 40px;
    /*display: inline-block;*/
    z-index: 33;
}

.panel__button-back_img:hover {
    padding-left: 1.2em;
    width: 60px;
    height: 60px;
    margin-top: -0.6em;
}

.panel__button-restart {
    display: inline-block;
}

.panel__button-restart_img {
    padding-left: 1.2em;
    width: 40px;
    height: 40px;
    /*display: inline-block;*/
    z-index: 33;
}

.panel__button-restart_img:hover {
    padding-left: 1.2em;
    width: 60px;
    height: 60px;
    margin-top: -0.6em;
}

.play-page__play-field {
    width: 960px;
    height: 700px;
    background: bisque;
    margin-left: -80px;
    box-shadow: 0 0 25px 5px rgb(255, 255, 255);
}
