.play-page__play-field.play-field
.play-page__panel-buttons.panel
    .panel__button-back
        img.panel__button-back_img(src="./../../img/back_2.png")
    .panel__button-restart
        img.panel__button-restart_img(src="./../../img/restart.png")
    .panel__score-label
        p score:
    strong
        .panel__score-box(align="right")
