.multyplay-page__multyplay-field.multyplay-field
.multyplay-page__panel-buttons.multypanel
    .multypanel__button-back
        img.multypanel__button-back_img(src="./../../img/back_2.png")
    .multypanel__button-restart
        img.multypanel__button-restart_img(src="./../../img/restart.png")
    .multypanel__score-label
        p score:
    strong
        .multypanel__score-box(align="right")
