.info-page {
    padding-left: 5em;
    padding-top: 3em;
    align-content: center;
}

.info-page__logo-game {
    opacity: 0.9;
}

.info-page__button-back {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.info-page__button-back_img {
    padding-left: 1.2em;
    width: 40px;
    height: 40px;
    z-index: 33;
}

.info-page__button-back_img:hover {
    padding-left: 1.2em;
    width: 60px;
    height: 60px;
}

.info-page__info-box {
    color: salmon;
    width: 35em;
    height: 35em;
    padding-left: 5em;
    padding-right: 5em;
    align-content: center;
}
