.info-page__button-back
    img.play-page__button-back_img(src="./../../img/back_2.png")
.info-page__info-box
    h3(align="center") About game
    div
        p.
            Подавите восстание bubbles'ов!
        p.
            Ваша задача, вращая куб, очищать его грани от bubbles'ов.
        p   Клавиши управления:
        p   "A" - вращение влево, "D" - вращение вправо и ЛКМ для атаки.

