.multiplay-page__multiplay-field.multiplay-field
.multiplay-page__panel-buttons.multipanel
    .multipanel__button-back
        img.multipanel__button-back_img(src="./../../img/back_2.png")
    .multipanel__button-restart
        img.multipanel__button-restart_img(src="./../../img/restart.png")
    .multipanel__score-label
        p you:
    strong
        .multipanel__score-box(align="right")
    .multipanel__score-label-enemy
        p enemy:
    strong
        .multipanel__score-box-enemy(align="right")
