.register-page__button-back
    img.register-page__button-back_img(src="./../../img/back_2.png")
.register-page__register-form.register-form
    .register-form__error-box
    p
        input.register-form__input-email(type="text" name="email" placeholder="You email")
    p
        input.register-form__input-login(type="text" name="login" placeholder="You login")
    p
        input.register-form__input-password(type="password" name="password" placeholder="*********")
    button.register-form__button Sign Up
p(align="center") Are you already registred?
    span.register-page__link-to-login  Log In