.main-page__user
    p.
        Привет, Гость!
.main-page__main-menu.main-menu
    .main-menu__button-play
        img.main-menu__button-play_img(src="./../../img/button_play.png")
    .main-menu__button-login.button-login
        img.button-login__img(src="./../../img/login.png")
    .main-menu__button-records.button-records
        img.button-records__img(src="./../../img/record.png")
    .main-menu__button-info.button-info
        img.button-info__img(src="./../../img/info.png")
