.main-page {
    /*padding-left: 5em;*/
    padding-top: 3em;
    align-content: center;
}

.main-page__main-menu {
    width:390px;
    height:400px;
    margin: 0 auto;
    /*margin-left: 70px;*/
    padding: 10px 10px 0 10px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.main-menu__button-play {
    width: 300px;
    height: 300px;
    padding-top: 60px;
    padding-bottom: 50px;
}

.main-menu__button-play_img {
    padding-top: 2em;
    padding-left: 5em;
    width: 200px;
    height: 200px;
    z-index: 33;
    cursor: pointer;
}

.main-menu__button-play_img:hover {
    padding-left: 4em;
    width: 250px;
    height: 250px;
    margin-top: -1.5em;
}

.main-menu__button-login {
    width:50px;
    display:inline-block;
    border:1em solid lightsalmon;
    padding: 0.5em;
    cursor: pointer;
    margin: 3px;
}

.button-login__img{
    width: 100%;
}

.main-menu__button-login:hover {
    border:1em solid salmon;
}

.main-menu__button-records {
    width:50px;
    display:inline-block;
    border:1em solid lavender;
    padding: 0.5em;
    cursor: pointer;
    margin: 3px;
}

.button-records__img{
    width: 100%;
}

.main-menu__button-records:hover {
    border:1em solid lightsalmon;
}

.main-menu__button-info {
    width:50px;
    display:inline-block;
    border:1em solid lavender;
    padding: 0.5em;
    cursor: pointer;
    margin: 3px;
}

.button-info__img{
    width: 100%;
}

.main-menu__button-info:hover {
    border:1em solid lightsalmon;
}

.main-page__user {
    text-align: center;
    width: 80%;
    color: white;
    font-size: larger;
    background-color: lightsalmon;
    margin-left: 10%;
}
