table(class="records-page__table" align="center")
    tr
        th User
        th Number
        th Score
    each user in locals
        tr
            td= user.login
            td= user.numberOfGames
            td= user.record
