.login-page {
    padding-left: 5em;
    padding-top: 3em;
    align-content: center;
}

.login-page__logo-game {
    opacity: 0.9;
}

.login-page__login-form {
    width: 330px;
    height: 160px;
    margin: 0 auto;
    margin-left: 10%;
    border-radius: 15px;
    box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.55);
    padding: 10px 20px 0 20px;
    text-align: center;
    border:1em solid lightsalmon;
    padding-top: 1em;
    padding-bottom: 1em;
}

.login-form__input-login {
    width: 100%;
}

.login-form__input-password {
    width: 100%;
}

.login-form__button {
    width: 100%;
    cursor: pointer;
    font-size:15px;
    text-decoration: none;
    padding:10px 20px;
    color:#4a4a4a;
    background-color:#E6E6FA;
    border-radius:6px;
    border: 4px solid #E6E6FA;
    cursor: pointer;
}

.login-form__button:hover {
    background-color:lightsalmon;
    border: 3px solid salmon;
}

input[type="text"]:focus {
    height: 30px;
    font-size: large;
    border: 0.2em solid #FFA07A;
}

input[type="password"]:focus {
    border: 0.2em solid #FFA07A;
}

.login-page__button-back {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.login-page__button-back_img {
    padding-left: 1.2em;
    width: 40px;
    height: 40px;
    z-index: 33;
}

.login-page__button-back_img:hover {
    padding-left: 1.2em;
    width: 60px;
    height: 60px;
}

.login-page__link-to-register {
    color: blue;
    cursor: pointer;
}

.login-page__link-to-register:hover {
    text-decoration: underline;
}

.login-form__error-box {
    color: white;
    background-color: lightcoral;
}
