.records-page {
    padding-left: 5em;
    padding-top: 3em;
    align-content: center;
}

.records-page__button-back {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.records-page__button-back_img {
    padding-left: 1.2em;
    width: 40px;
    height: 40px;
    z-index: 33;
}

.records-page__button-back_img:hover {
    padding-left: 1.2em;
    width: 60px;
    height: 60px;
}

table {
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}
th {
    background: #aedaeb;
    color: white;
    text-shadow: 0 1px 1px #4a4a4a;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
th:first-child, td:first-child {
    text-align: left;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}
td {
    padding: 10px 20px;
    background: bisque;
}
tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
tr td:last-child {
    border-right: none;
}
