/*styles for all pages*/

body {
    background-color: lavender;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

p {
    color: dimgrey;
}

.main-box {
    width: 700px;
    height: 100vh;
    margin: 0 auto;
    background-color: white;
    align-content: center;
    border-radius: 7px;
}

.main-box__logo-game {
    padding-left: 5em;
    padding-top: 3em;
    align-content: center;
}

.footer {
    opacity: 0.5;
    padding-bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1em;
}

