/*styles for all pages*/

body {
    background: lavender;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

p {
    color: dimgrey;
}

.main-box {
    width: 960px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.75);
    align-content: center;
    border-radius: 7px;
}

.main-box__logo-game {
    padding-left: 200px;
    padding-top: 3em;
    align-content: center;
}

.main-box__theme-changer {
    background: lightsalmon;
    width: 60px;
    height: 60px;
    position: fixed;
    top:20px;
    right:20px;
    border-radius: 30px;
    cursor: pointer;
}

.main-box__theme-changer:hover {
    background: salmon;
    width: 80px;
    height: 80px;
    top:10px;
    right:10px;
    border-radius: 40px;
    box-shadow: 0 0 25px 5px rgb(255, 255, 255);
}

.footer {
    opacity: 0.5;
    padding-bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1em;
}

