/* styles for all pages */

$mobile-width: 480px;

html {
  overflow: hidden;
}

body {
    background: lavender;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

p {
    color: dimgrey;
}

.main-box {
    width: 960px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.75);
    align-content: center;
    border-radius: 7px;
    z-index: 0;
}

.main-box__logo-game {
    padding-left: 200px;
    padding-top: 20px;
    align-content: center;
  @media only screen and (max-device-width: $mobile-width) {
    width: 770px;
    padding-top: 100px;
    padding-left: 100px;
  }
}

.main-box__theme-changer {
    background: lightsalmon;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 30px;
    cursor: pointer;
  @media only screen and (max-device-width: $mobile-width) {
    width: 120px;
    height: 120px;
  }
}

.main-box__theme-changer:hover {
    background: salmon;
    width: 80px;
    height: 80px;
    top: 10px;
    right: 10px;
    border-radius: 40px;
    box-shadow: 0 0 25px 5px rgb(255, 255, 255);
  @media only screen and (max-device-width: $mobile-width) {
    width: 120px;
    height: 120px;
    top: 20px;
    right: 20px;
    border-radius: 30px;
  }
}

.button-back {
  width: 60px;
  height: 60px;
  cursor: pointer;
  @media only screen and (max-device-width: $mobile-width) {
    width: 120px;
    height: 120px;
  }
}

.button-back_img {
  padding-left: 1.2em;
  width: 40px;
  height: 40px;
  z-index: 33;
  @media only screen and (max-device-width: $mobile-width) {
    height: 100%;
    width: auto;
  }
}

.button-back_img:hover {
  padding-left: 1.2em;
  width: 60px;
  height: 60px;
  margin-top: -0.6em;
  @media only screen and (max-device-width: $mobile-width) {
    height: 100%;
    width: auto;
  }
}

.login-or-register {
  margin-left: -95px;
  @media only screen and (max-device-width: $mobile-width) {
    margin-left: -100px;
    font-size: 40px;
  }
}

.footer {
    opacity: 0.5;
    padding-bottom: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1em;
  @media only screen and (max-device-width: $mobile-width) {
    font-size: 40px;
  }
}

