.login-page__button-back
    img.login-page__button-back_img(src="./../../img/back_2.png")
.login-page__login-form.login-form
    .login-form__error-box
    p
        input.login-form__input-login(type="text" name="login" placeholder="You login")
    p
        input.login-form__input-password(type="password" name="password" placeholder="*********")
    button.login-form__button Log In
p You haven`t account?
    span.login-page__link-to-register  Sign Up