.login-page__button-back.button-back
    img.login-page__button-back_img.button-back_img(src="./../../img/back_2.png")
.login-page__login-form.login-form
    .login-form__error-box.error-box
    p
        input.login-form__input-login.form-input(type="text" name="login" placeholder="You login")
    p
        input.login-form__input-password.form-input(type="password" name="password" placeholder="*********")
    button.login-form__button.form-button Log In
p(align="center" class="login-or-register") You haven`t account?
    span.login-page__link-to-register  Sign Up